@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.hanken-grotesk {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root{
    --white: #fff;
    --sky: #008EC0;
    --black: #333;
    --red: #DA291C;
    --blue: #003366;
    --cyan:#7FF2E5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: var(--sky);
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.logo {
    align-items: center;
    font-weight: bold;
    color: var(--sky);
}
.logo img {
    width: 100%;
    max-width: 150px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    position: relative;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-weight: 400;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    background: var(--white);
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.dropdown-menu li {
    padding: 8px 20px;
    white-space: nowrap;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.right-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.lang {
    font-size: 14px;
    color: var(--black);
}

.btn-info {
    background: var(--red);
    color: var(--white);
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;
}

.client-area {
    text-decoration: none;
    font-size: 14px;
    color: var(--black);
}

/* PORTADAAA */
.hero {
    padding: 60px 40px;
    color: var(--white);
    min-height: 720px;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}


.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: inherit;
  z-index: -1;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@media (max-width: 1024px) {
    .hero {
    }
}


@media (max-width: 1205px) {
    header {
        flex-wrap: wrap;
    }

    nav {
        display: none;
        position: absolute; 
        top: 80px; 
        left: 0;
        width: 100%;
        background: var(--sky);
        padding: 15px 0;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        z-index: 999; 
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }

    nav.active {
        display: block;
    }

    .right-actions {
        /* flex-basis: 100%;
        justify-content: center;
        margin-top: 10px; */
        display: none;
    }
}
.hero h1 {
     font-size: 58px;
    font-weight: bold;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
   

    .hero {
        min-height: 500px;
        justify-content: center;
        text-align: center;
    }

    .hero-content {
        max-width: 90%;
    }

    .hero h1 {
        font-size: 40px;
    }
}

.hero-content {
    max-width: 600px;
    z-index: 2;
}





.btn-blue {
    background: var(--sky);
    color: var(--white);
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}


/* PRESENTACIONES */

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  padding: 60px 5em;
  align-items: start;
}

.about-left {
  height: 100%;
  align-content: center;
}

.about-left h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--blue);
  padding-bottom: 20px;
}

.about-left p {
  font-size: 1rem;
  padding-bottom: 40px;
}

.img-prods {
  padding-top: 50px;
  padding-right: 30px;
}

.img-prods img{
  width: 500px;
}

.btn-red {
  background: var(--red);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.about-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-left: 1px solid black;
}

.about-right .card:last-child{
  grid-column: 1 / -1;
  justify-self: center;
  max-width: 300px;
}



.card-header {
  
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.card-body {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 1s cubic-bezier(0.4,0,0.2,1),
    opacity 1s cubic-bezier(0.4,0,0.2,1),
    padding 1s cubic-bezier(0.4,0,0.2,1);
  padding: 0 16px;
}

.card-body p {
  margin: 10px 0;
}

.expandable.open .card-body {
  max-height: 500px; 
  opacity: 1;
  padding: 16px;
  transition:
    max-height 1s cubic-bezier(0.4,0,0.2,1),
    opacity 1s cubic-bezier(0.4,0,0.2,1),
    padding 1s cubic-bezier(0.4,0,0.2,1);
}

.expandable.open .card-header .arrow {
  transform: rotate(180deg);
  transition: transform 0.4s ease-in-out;
}



.card {
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.card img {
  width: 350px;
  
}

.card h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.btn-outline {
  display: inline-block;
  padding: 8px 15px;
  border: 2px solid var(--red);
  border-radius: 4px;
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  transition: all 0.3s ease;
  width: 250px;
  cursor: pointer;
}

.btn-outline:hover {

  background-color: var(--red);
  color: white;
  transform: scale(1.05);
}


@media (max-width: 900px) {
  .about {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 10px;
  }
  .about-right {
    grid-template-columns: 1fr;
  }

  .img-prods img{
    max-width: 300px;
  }

  .img-prods {
    padding: 0;
    padding-top: 60px;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
  }

  .about-right {
  border: none;
}
}


/* DELIVERY SECTION */
.delivery-section {
  background-color: var(--red); 
  padding: 50px 20px;
}

.delivery-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.delivery-title {
  color: var(--white); 
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.delivery-text {
  color: var(--white);
  font-size: 1rem;
  max-width: 800px;
  margin: 0 auto 40px;
  line-height: 1.5;
}

.delivery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.delivery-card {
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 15px;
  background: transparent;
}

.delivery-image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.delivery-image-wrapper img {
  width: 100%;
  height: 280px;
  display: block;
  transition: transform 0.3s ease;
}



.delivery-card img {
  width: 100%;
  height: 280px; 
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.delivery-email {
  margin-top: 10px;
  text-align: center;
  font-size: 1rem;
  color: var(--white);
}

.delivery-email a {
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
}

.delivery-email a:hover {
  text-decoration: underline;
}

.delivery-card:hover img {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  color: var(--blue);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 1.2rem;
  cursor: pointer;
}

.overlay .icon {
  
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay .icon i{
    color: var(--blue);
}

/*Barra numerica*/
.barra {
  width: 100%;
  display: flex;
  justify-content: center;
}

.barra-container {
  width: 100%;
  max-width: 90%;
  background-color: white;
  margin: 30px 0;
  margin-bottom: 60px;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  
}


.columna {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#icon-barra {
  margin: 0px 10px 10px 0px;
  background-color: #2c91de;
}
.columna-texto{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.columna-texto .hijo1{
  width: 80px;
  height: 80px;
  margin: 0px 0;
  margin-bottom: 5px;
}

.columna-texto .hijo1 img{
  width: 100%;
  height: 100%;
  
  margin: 0px 0;
}

.columna-texto .hijo2 {
  font-size: 14px;
  color: #555;
  line-height: 1.3em;
}


@media (max-width: 768px) {
  .barra-container {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }

  .columna-texto .hijo1 h1 {
    font-size: 20px;
  }

  .columna img {
    width: 50px;
    height: 50px;
  }
}

/* SECTION PROMO */



.sostenibilidad {
    position: relative;
    background-image: url('../assets/MONTAJE\ LANDING (2).png');
    background-size: cover;
    background-position: center;
    color: var(--white);
    padding: 4rem 1.5rem;
    display: flex;
    align-items: center;
    min-height: 400px;
}

.sostenibilidad::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
}

.sostenibilidad-content {
    position: relative;
    max-width: 550px;
}

.sostenibilidad-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.sostenibilidad-content p {
    margin-bottom: 1.5rem;
    line-height: 1.5;
}




@media (max-width: 848px) {
    .promo-banner h2 {
        font-size: 1.3rem;
    }
    .sostenibilidad-content h1 {
        font-size: 2rem;
    }

    .sostenibilidad {
      background-position: 80% 50%;
    }
}

@media (max-width: 480px) {
    .sostenibilidad-content h1 {
        font-size: 1.6rem;
    }

    .sostenibilidad {
      background-position: 80% 50%;
    }
}


/* UBICACION */
.manantiales {
    padding: 2rem 1rem;
    max-width: 1120px; 
    width: 100%;
    margin: auto;
}

.manantiales-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.manantiales-header h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--blue);
    margin-bottom: 0.5rem;
}

.manantiales-header p {
    line-height: 1.5;
    color: var(--black);
}

@media (max-width: 768px) {
    .manantiales-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .manantiales-header h2 {
        font-size: 2rem;
    }
   
}

.delivery-card-ubi { position: relative; overflow: hidden; border-radius: 8px; height: 280px; } 
.delivery-card-ubi img { width: 100%; height: 100%; display: block; transition: transform 0.3s ease; } 
.delivery-card-ubi:hover img { transform: scale(1.05); } 
.overlay-ubi { position: absolute; bottom: 0; width: 100%; background-color: rgba(255, 255, 255, 0.6); color: var(--blue); font-weight: bold; display: flex; justify-content: space-between; align-items: center; padding: 15px; font-size: 1.2rem; cursor: pointer; text-decoration: none; } 
.overlay-ubi .icon { border-radius: 50%; width: 30px; height: 30px; display: flex; justify-content: center; align-items: center; } .overlay .icon i{ color: var(--blue); }

/*Experiencias*/
.experiencias {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.title-exp {
    color: var(--blue);
    max-width: 700px;
    padding-bottom: 30px;
}

.title-exp h2{
  font-size: 2.5rem;
    font-weight: bold;
}

.cards {
  display: flex;
  gap: 18px;             
  transition: transform 0.5s ease-in-out;
}

.opinion {
  flex: 0 0 calc(25% - 18px);
  box-sizing: border-box;
  background-color: #f7f8fb;
  border-radius: 5px;
  margin: 0;
  max-width: 350px;
  max-height: 450px;
}

.opinion img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: auto;
}

.stars {
    padding-top: 15px;
}

.opinion h3 {
    color: var(--blue);
    padding-top: 10px;
    font-size: 2em;
    font-weight: 800;
}

.opinion .p1 {
    padding-top: 50px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    text-align: left;
}

.opinion .p2 {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    text-align: left;
}

.opinion .p3 {
    max-width: 130px;
    margin-top: 110px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5em;
    text-align: left;
    border-top: 1px solid var(--blue);
    color: var(--blue);
}

.slider-container-opinion {
    position: relative;
    width: 100%;
}

.slider-opinion {
    overflow: hidden;
    width: 100%;
}

.prev-op, .next-op {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;      
  border: none;
  color: var(--blue);
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
  padding: 0;
  line-height: 1;
}

.prev-op { left: -40px; }
.next-op { right: -40px; }

.dots {
    text-align: center; 
    margin-top: 15px; 
    display: none;
}

.dots span {
  height: 12px; 
  width: 12px; 
  margin: 0 4px;
  background-color: #666; 
  border-radius: 50%;
  display: inline-block; 
  transition: background-color .3s;
  cursor: pointer;
}

.dots span.active { 
    background-color: var(--blue);
}
.dots span:hover { 
    background-color: var(--blue); 
}

@media (max-width: 768px) {
  .experiencias {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .prev-op { left: 5px; }
  .next-op { right: 5px; }
}

 
 

/* FOOTER */

.footer {
  background: var(--sky);
  padding: 2rem 1rem;
  color: var(--white);
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.footer-logo {
  flex-shrink: 0;
}

.footer-logo img {
  width: 200px;
  padding-right: 40px;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  gap: 1.5rem;
  flex: 1;  
}

.footer-column h3 {
  font-size: 1rem;
  color: var(--blue);
  margin-bottom: 0.5rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 0.3rem;
  
}

.footer-column ul li a {
  text-decoration: none;
  color: var(--white);
}

.footer-bottom {
  display: flex;
  flex: auto;
  border-top: 2px solid #ccc;
  padding-top: 1rem;
  margin-top: 1.5rem;
  text-align: center;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
}

.social-icons a {
  margin: 0 0.5rem;
  color: var(--white);
  font-size: 1.2rem;
}

.postea-sello a {
  text-decoration: none;
  color: var(--white);
}

.footer-column .contact {
  padding-bottom: 10px;
}

.contact a {
  text-decoration: none;
  color: var(--white);
}

@media (max-width: 992px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-columns {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    width: 100%;
  }

  .footer-bottom {
    text-align: center;
  }
}


@media (max-width: 600px) {
  .footer-columns {
    grid-template-columns: 1fr;
  }

  .footer-logo img {
    width: 200px;
  }

  .footer-bottom {
    font-size: 0.9rem;
  }
}